<div class="container">

      <form class="form-signin" id="new_user" method="post" action="/sign_in">
		<center>Please sign in</center>
        <input type="text" id="user_name" name="user[name]" class="input-block-level" placeholder="Username or Email address">
        <input type="password" id="user_password" name="user[password]"	class="input-block-level" placeholder="Password">
		
        <input name="commit" type="submit" value="Sign In" class="signinButton">
      </form>

    </div>